{% extends "finance/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <h1>Hi, {{user}}!</h1>
        <div class="container">
            <h4>Your percentages</h4>
            Tax: <span class="percent">0.5%</span></br>
            Emergency: <span class="percent">10%</span></br>
            Insurance: <span class="percent">20%</span></br>
            Pension: <span class="percent">20%</span></br>
            Spending: <span class="percent">49.5%</span></br>

        </div>

        <div class="container">
            <h4>Your finances</h4>
            Income: Rp{{ finances.income }}</br>
            Tax: Rp{{finances.tax}} </br>
            Emergency: Rp{{finances.emergency}}</br>
            Insurance: Rp{{finances.insurance}}</br>
            Pension: Rp{{finances.pension}}</br>
            Spending: Rp{{finances.spending}}
        </div>
        <div class="container">
            <form action="{% url 'logoutpage' %}">
            {% csrf_token %}
                <button class="btn btn-primary">Log Out</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'finance/edit.js' %}">
    </script>
{% endblock %}